.section {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.mainDiv {
  background-color: #f3f4f6;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}
.innerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.circleDiv {
  position: absolute;
  color: #ffffff;
  height: 4rem;
  width: 4rem;
  background-color: #4ee247;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.absoluteDiv {
  position: absolute;
  height: 3rem;
  width: 3rem;
  background-color: #ffffff;
  border-radius: 9999px;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}